@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Source Sans Pro', sans-serif; */
}

.navbar{
    width: 88%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 140px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.section{
    width: 100%;
    padding-bottom: 100px;
    background-color: #049CD8;
}

.container{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto 0;
}
.content-section{
    width: 50%;
}
.image-section{
    width: 45%;
}
.image-section img{
    width: 100%;
}
.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
}
.content-section .content h3{
    margin-top: 20px;
    color: #FFF;
    font-size: 21px;
}
.content-section .content p{
    color: #fff;
}
.content-section .content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}
.content-section .content .button{
    margin-top: 30px;
}
.content-section .content .button a{
    border-radius: 10px;
    background-color: #000;
    padding: 12px 40px;
    text-decoration: none;
    color: #d8ecf3;
    font-size: 25px;
    letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
    background-color: gold;
    color: black;
}
.content-section .social{
    margin: 40px 40px;
}
.content-section .social i{
    color: #000;
    font-size: 30px;
    padding: 0px 10px;
}
.content-section .social i:hover{
    color: gold;
}
@media screen and (max-width: 768px){
    .navbar{
        width: 35%;
        display: block;
    }
    .navbar ul li{
        display: inline-block;
    }
    .container{
        flex-direction: column;
    }
    .content-section{
        width: 100%;
        order: 2;
        display: block;
        margin: auto;
    }
    .image-section{
        order: 1;
        width: 90%;
        margin-top: 50px;
    }
    .image-section img{
        border-radius: 10px;
    }
    
    .content-section .content .button{
        text-align: center;
    }
    .content-section .content .button a{
        padding: 9px 30px;
    }
    .content-section .social{
        text-align: center;
    }
}
